@import ../../../styles

.title
  font-family: Montserrat-Bold
  color: $secundary-green
  font-size: 24px
.field-label
  font-family: Montserrat-Regular
  color: $gray
  font-size: 10px
.text-12
  font-size: 12px !important
.btn-download
  font-family: Montserrat-Bold
  color: $white
  font-size: 12px
  background: $primary_green
  width: 150px
.btn-clear-filter
  font-family: Montserrat-Bold
  color: $white
  font-size: 12px
  background: $primary_green
  @media (min-width: 992px)
    width: 100%
  @media (max-width: 992px)
    width: 60%
.btn-filter
  font-family: Montserrat-Bold
  color: $primary_green
  font-size: 12px
  background: $secundary_green
  @media (min-width: 992px)
    width: 100%
  @media (max-width: 992px)
    width: 60%
.table-header
  font-family: Montserrat-Bold
  color: $primary-green
  font-size: 14px
  text-align: center
.table-content
  font-family: AvenirNextLTPro-Regular
  color: $gray
  font-size: 12px
  text-align: center
  white-space: nowrap
.text-bold
  font-family: Montserrat-Bold !important
.number
  color: $primary-green
  font-family: Montserrat-Bold
  width: 15px
  height: 15px
  text-align: center
  font-size: 10px
  cursor: pointer
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
.selectedPage
  background: $secundary_green
.arrow-container
  width: 7px
  cursor: pointer
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
.page-container
  overflow-y: auto
  @media (min-width: 768px)
    max-height: calc( 100vh - 70px )
  @media (max-width: 768px)
    max-height: calc( 100vh - 50px )
