<div class="container-fluid mx-0 px-0 vh-100 d-flex flex-column">
  <div class="row mx-0 flex-column">
    <app-header></app-header>
  </div>
  <div class="row mx-0 h-100">
    <app-sidebar></app-sidebar>
    <div class="col px-3 py-4 page-container">
      <div class="row mx-0 mb-5">
        <div class="title">
          CONSULTAS - COMPRAS CON EL COFRE
        </div>
      </div>
      <div class="row mx-0 mb-5">
        <form [formGroup]="searchForm" (ngSubmit)="search()" class="row mx-0 w-100">
          <div class="col-12 col-lg-10">
            <div class="row mx-0 mb-4">
              <div class="col-12 col-lg-3 px-0 row mx-0">
                <div class="col-auto px-0 d-flex h-100">
                  <img src="assets/images/calendar.svg" class="mt-auto mb-2 mr-3" width="18px" alt="calendario">
                </div>
                <div class="col px-0">
                  <div class="field-label">
                    Filtro de rango de fechas
                  </div>
                  <input class="custom-input text-12 text-bold input w-100" type="text" readonly
                    placeholder="Rango de fechas" [value]="dateRangeString()">
                </div>
              </div>
            </div>
            <div class="row mx-0">
              <div class="col-12 col-lg-3 px-0 row mx-0 mb-4 mb-lg-0">
                <div class="col-auto px-0 d-flex h-100">
                  <img src="assets/images/search.svg" class="mt-auto mb-2 mr-3" width="18px" alt="Buscar">
                </div>
                <div class="col px-0">
                  <select formControlName="filter_field"
                    class="custom-input custom-select shadow-none rounded-0 text-12 text-bold input w-100">
                    <option value="">Campo</option>
                    <option [value]="option.value" *ngFor="let option of selectOptions">{{option.title}}</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-lg-9 px-3 mb-4 mb-lg-0 mt-auto">
                <input formControlName="filter_value" class="custom-input text-12 input w-100 ml-3" type="text"
                  placeholder="Buscar">
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-2 pl-5 px-lg-0 d-flex flex-column">
            <div class="row mx-0 mb-3 mt-auto">
              <button class="btn btn-clear-filter px-4" (click)="clearFilters()">Limpiar filtros</button>
            </div>
            <div class="row mx-0">
              <button type="submit" class="btn btn-filter px-4">Buscar</button>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="tableInfo[currentPage].loading" class="row mx-0 my-5 py-5">
        <div class="spinner-border default-spinner mx-auto" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf="!tableInfo[currentPage].loading" class="table-responsive-md">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="table-header" *ngFor="let header of headerKeys()">{{header}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let purchase of tableInfo[currentPage].data">
              <th class="table-content" *ngFor="let header of headerKeys()">{{purchase[tableHeaders[header]]}}</th>
            </tr>
          </tbody>
        </table>
        <div class="row px-3 mb-5 mx-0 justify-content-end align-items-center">
          <div class="arrow-container mx-2">
            <img *ngIf="currentPage > 1" src="assets/images/arrow_izq.svg" width="7px" alt="anterior"
              (click)="previousPage()">
          </div>
          <div class="number mx-1" [ngClass]="{'selectedPage': page==currentPage}" *ngFor="let page of posiblePages()"
            (click)="selectPage(page)">{{page}}</div>
          <div class="arrow-container mx-2">
            <img *ngIf="currentPage < totalPages" src="assets/images/arrow_der.svg" width="7px" alt="anterior"
              (click)="nextPage()">
          </div>
        </div>
        <div class="row mx-0">
          <button class="btn btn-download text-center" (click)="downloadFile()">
            {{!downloadingFile?'Descargar Excel':''}}
            <div *ngIf="downloadingFile" class="spinner-border spinner-border-sm text-light mx-auto" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>