@font-face
  font-family: "AvenirNextLTPro-Regular"
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype")
@font-face
  font-family: "AvenirNext"
  src: url("/assets/fonts/avenir-next.otf") format("opentype")
@font-face
    font-family: "Montserrat-Bold"
    src: url("/assets/fonts/Montserrat-Bold.ttf") format("opentype")
@font-face
    font-family: "Montserrat-Regular"
    src: url("/assets/fonts/Montserrat-Regular.ttf") format("opentype")
