<div class="custom-header">
  <div class="row mx-0">
    <div class="col p-3 d-block d-md-none">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="38" fill="currentColor"
        class="bi bi-list menu-icon" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
      </svg></div>
  </div>
</div>