@import ../../../styles

.min-h
  min-height: 100vh
.background-green
  background: $primary_green
.need-help-text
  font-family: AvenirNext
  font-size: 14px
  cursor: pointer
.login-box
  background: $white
  border: 3px $secundary_green solid
.login-box-title
  font-family: Montserrat-Bold
  color: $primary_green
  font-size: 20px
.login-box-text
  font-family: AvenirNextLTPro-Regular
  font-size: 16px
  color: $primary_green
.btn-login
  font-family: Montserrat-Bold
  color: $primary_green
  font-size: 14px
  background: $secundary_green
  height: 32px
  border-radius: 16px
.aditional-links
  font-family: AvenirNextLTPro-Regular
  font-size: 12px
  cursor: pointer
.link-company
  font-family: AvenirNext
  font-size: 14px
  cursor: pointer
.background-secundary
  background: $secundary_green
.copyright
  font-family: AvenirNextLTPro-Regular
  color: $primary_green
  font-size: 14px
.company-div
  height: auto
.company-img
  height: 100%
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0
