<div class="background-green container-fluid min-h px-0 row mx-0">
  <div class="row mx-0 px-3 w-100">
    <div class="col-12 px-0 py-3">
      <img src="assets/images/necesitas_ayuda.svg" width="32px" alt="?">
      <u class="mx-2 text-light need-help-text">¿Necesitas ayuda?</u>
    </div>
    <div class="col-12 px-0 mb-4 d-flex company-div mt-auto">
      <img src="assets/images/logo-coink_V2@2x.png" width="80px" alt="Coink" class="mx-auto img company-img">
    </div>
    <div class="col-12 px-0">
      <div class="col-12 col-sm-8 col-md-6 col-lg-4 mx-auto login-box py-4" *ngIf="!isLogin">
        <div class="col-11 col-sm-9 col-lg-7 mx-auto px-0">
          <div class="row mx-lg-n5  mx-0 mb-4">
            <span class="text-center mx-auto login-box-title">INGRESA A TU CUENTA</span>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="row mx-0 mb-4">
              <input formControlName="user_mail" class="w-100 custom-input input" type="email" autofocus
                placeholder="Usuario">
            </div>
            <div class="row mx-0 mb-4">
              <input formControlName="user_password" class="w-100 custom-input input" type="password"
                placeholder="Contraseña">
            </div>
            <div class="row mx-0 mb-4">
              <button *ngIf="!loadingLogin" [disabled]="!loginForm.valid" type="submit"
                class="btn btn-login px-4">INGRESAR</button>
              <div *ngIf="loadingLogin" class="spinner-border default-spinner mx-auto" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </form>
          <div class="row mx-0 mb-3">
            <u class="aditional-links">Olvidé mi PIN</u>
          </div>
          <div class="row mx-0">
            <u class="aditional-links">Olvidé mi numero de celular empresarial</u>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto login-box py-3" *ngIf="isLogin">
        <div class="col-11 col-sm-9 col-lg-7 mx-auto px-0">
          <div class="row mx-0 mb-2">
            <img src="assets/images/escudo.svg" width="50px" alt="escudo" class="mx-auto img">
          </div>
          <div class="row mx-0 mb-3">
            <span class="text-center mx-auto login-box-title">INGRESO SEGURO</span>
          </div>
          <div class="row mx-0 mb-4">
            <p class="text-center mx-auto login-box-text">Un código de verificacion fue enviado a tu correo, porfavor
              introdúcelo.</p>
          </div>
          <form [formGroup]="securityForm" (ngSubmit)="validateCode()">
            <div class="row mx-0 mb-4">
              <input formControlName="code" class="w-100 custom-input input text-center" type="number" autofocus
                placeholder="Ingresa tu código de verificación" [OnlyNumber]="true">
            </div>
            <div class="row mx-0 mb-4">
              <button *ngIf="!loadingValidate" type="submit" class="btn btn-login px-4 mx-auto" [disabled]="!securityForm.valid">ENTRAR</button>
              <div *ngIf="loadingValidate" class="spinner-border default-spinner mx-auto" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-12 mx-0 my-4 d-flex my-4">
      <u class="text-center mx-auto link-company text-light">¿Quieres vincular tu empresa a Coink?</u>
    </div>
  </div>
  <div class="col-12 d-flex mt-auto background-secundary px-3">
    <span class="mx-auto mr-md-0 ml-md-auto copyright my-2">Copyright © 2020 Coink S.A</span>
  </div>
</div>