<div class="custom-sidebar h-100 d-none d-md-flex flex-column">
  <div class="row mx-0 py-3 mb-5">
    <div class="mx-auto sidebar-title">Menu</div>
  </div>
  <div class="row mx-0 mt-5 item-container">
    <div class="menu-item w-100" *ngFor="let item of menuItems"></div>
  </div>
  <div class="row mx-0 item mt-auto py-2">
    <img src="assets/images/cerrar_sesion.svg" class="ml-auto mr-2" width="12px" alt="sesion">
    <span class="mr-auto close-session-text">Cerrar sesion</span>
  </div>
</div>