@import ../../../styles

.custom-sidebar
  border-right: 1px solid $transparent_black
  width: 200px
.sidebar-title
  font-family: Montserrat-Bold
  color: $dark-gray
  font-size: 28px
.menu-item
  border: 1px solid $gray
  border-top: none
  background: $ligth_gray
  height: 50px
  cursor: pointer
.item-container
  border-top: 1px solid $gray
.close-session-text
  font-family: Montserrat-Regular
  color: $red
  font-size: 12px
.item
  cursor: pointer
