@import "~bootstrap/dist/css/bootstrap.css"
@import "assets/colors/colors"
@import "assets/fonts/fonts"

.custom-input
  outline-width: 0
  border: none
  border-bottom: solid 1px $gray
  font-family: AvenirNextLTPro-Regular
  font-size: 14px
  &::placeholder
    color: $gray
  &:focus
    border-bottom: solid 1px $dark_gray  !important
    &::placeholder
      color: $dark_gray
.default-spinner
  color: $primary_green
